<div class="container">
    <section class="titles">
      <h1>Learn more</h1>
      <p>Recipes tell you nothing. Learning techniques is the key. "Tom Colicchio"</p>
  
    </section>
    <section class="container-boxes">
      <div class="box" (click)="ui_ux_scroll()">
  
        <!-- <button (click)="scrollPoint(learnMore)" class="btn td-btn outline green scroll mt-30"title="Learn more about me!"><span
          class="glyphicon glyphicon-triangle-bottom"></span> Learn more</button> -->
        <div class="icon">
          <i class="fas fa-laptop-code"></i>
        </div>
  
        <div class="text">
  
          <h3>UI/UX Design</h3>
          <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
            aesthetically-pleasing, interactive interfaces</p>
  
        </div>
  
      </div>
      <div class="box" (click)="backend_developer_scroll()">
        <div class="icon">
         <i class="fas fa-code"></i>
        </div>
  
        <div class="text">
         
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
        
        </div>
  
      </div>
  
      <div class="box">
  
        <div class="icon">
          <a href=""><i class="fas fa-address-card"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          </a>
        </div>
  
      </div>
    </section>
  </div>
  
  <div id="ui_ux_scroll" class="">
    <section class="container-boxes">
      <div class="box uiuxbox">
  
        <div class="icon">
          <a href=""><i class="fas fa-laptop-code"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>UI/UX Design</h3>
            <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
              aesthetically-pleasing, interactive interfaces</p>
          </a>
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-code"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
          <!-- </a> -->
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-address-card"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          <!-- </a> -->
        </div>
  
      </div>
  
    </section>
  
  
  
    <section class="container-boxes">
      <div class="box uiuxbox">
  
        <div class="icon">
          <a href=""><i class="fas fa-laptop-code"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>UI/UX Design</h3>
            <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
              aesthetically-pleasing, interactive interfaces</p>
          </a>
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-code"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
          <!-- </a> -->
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-address-card"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          <!-- </a> -->
        </div>
  
      </div>
  
    </section>
  
    <section class="container-boxes">
      <div class="box uiuxbox">
  
        <div class="icon">
          <a href=""><i class="fas fa-laptop-code"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>UI/UX Design</h3>
            <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
              aesthetically-pleasing, interactive interfaces</p>
          </a>
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-code"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
          <!-- </a> -->
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-address-card"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          <!-- </a> -->
        </div>
  
      </div>
  
    </section>
  
  </div>
  
  
  
  <!-- java scrolll -->
  <div id="backend_developer_scroll" class="">
    <section class="container-boxes">
      <div class="box uiuxbox">
  
        <div class="icon">
          <a href=""><i class="fas fa-laptop-code"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>UI/UX Design</h3>
            <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
              aesthetically-pleasing, interactive interfaces</p>
          </a>
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-code"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
          <!-- </a> -->
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-address-card"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          <!-- </a> -->
        </div>
  
      </div>
  
    </section>
  
  
  
    <section class="container-boxes">
      <div class="box uiuxbox">
  
        <div class="icon">
          <a href=""><i class="fas fa-laptop-code"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>UI/UX Design</h3>
            <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
              aesthetically-pleasing, interactive interfaces</p>
          </a>
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-code"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
          <!-- </a> -->
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-address-card"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          <!-- </a> -->
        </div>
  
      </div>
  
    </section>
  
    <section class="container-boxes">
      <div class="box uiuxbox">
  
        <div class="icon">
          <a href=""><i class="fas fa-laptop-code"></i></a>
        </div>
  
        <div class="text">
          <a href="">
            <h3>UI/UX Design</h3>
            <p>UX design is all about identifying and solving user problems; UI design is all about creating intuitive,
              aesthetically-pleasing, interactive interfaces</p>
          </a>
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-code"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>Back-End developers</h3>
            <p>the experts who build and maintain the mechanisms that process data and perform actions on websites!</p>
          <!-- </a> -->
        </div>
  
      </div>
  
      <div class="box uiuxbox">
  
        <div class="icon">
          <!-- <a href=""> -->
            <i class="fas fa-address-card"></i>
          <!-- </a> -->
        </div>
  
        <div class="text">
          <!-- <a href=""> -->
            <h3>The Group</h3>
            <p>Become a member, become family. Teamwork is everything.</p>
          <!-- </a> -->
        </div>
  
      </div>
  
    </section>
  
  </div>
  
  <!-- <div class="nav-header"> 
    <div class="nav-menu"> Project | Flicker | Notes | Sample Work | Contact Me</div>
  </div> -->
  <!-- <div class="banner sticky-nav"> WELCOME TO MY SITE WHERE YOU CAN FIND A RANGE OF CREATIVE, HIGH-QUALITY DESIGNS THAT CAN HELP YOUR BUSINESS FLOURISH.</div> -->
  <div class="three-boxes">
    <div class="child-box" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000"></div>
    <div class="child-box"></div>
    <div class="child-box" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000"></div>
  </div>
  <div class="profile-container">
    <div class="profile-child" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000"></div>
    <div class="profile-child" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000"></div>
    <div class="profile-child" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000"></div>
  </div>
  <div class="recommendations">
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
    <div class="recommendation" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500"> </div>
  </div>
  <div class="footer"></div>